<%= link_to "back to report", events_path %>
<%= link_to "Back", user_path(@task.user_id) %>
<div class="show_content">
TASK SHOW <br>

To Do: <p><%= @task.description %></p><br>
This task is <%= @task.status %><br>
See all tasks related to <%= link_to @task.event.title, event_path(@task.event)%>
</div>